biztalk/OrderProcessing/Schemas/SourceOrderSchema.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns="http://OrderProcessing.Schemas.SourceOrder"
           xmlns:b="http://schemas.microsoft.com/BizTalk/2003"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://OrderProcessing.Schemas.SourceOrder"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo root_reference="OrderRequest" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="OrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderId" type="xs:string">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="CustomerId" type="xs:string" />
        <xs:element name="CustomerName" type="xs:string" />
        <xs:element name="CustomerEmail" type="xs:string" />
        <xs:element name="OrderDate" type="xs:dateTime" />
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductCode" type="xs:string" />
                    <xs:element name="ProductName" type="xs:string" />
                    <xs:element name="Quantity" type="xs:int" />
                    <xs:element name="UnitPrice" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalAmount" type="xs:decimal" />
        <xs:element name="Currency" type="xs:string" default="USD" />
        <xs:element name="ShippingAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Street" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="ZipCode" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
